<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="log" xsi:type="Console" />
			<target name="debugger" xsi:type="Debugger" />
			<target name="fileLogger" xsi:type="File" createDirs="true" fileName="${basedir}/logs/log.txt" keepFileOpen="false" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${callsite}|${exception}" />
		</targets>
		<rules>
			<logger name="*" writeTo="fileLogger" />
			<logger name="*" writeTo="log" />
			<logger name="*" writeTo="debugger" />
		</rules>
	</nlog>
</configuration>